@import 'header';

:host {
  position: fixed;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid var(--grayLightest);

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 0 16px;

    .app-image {
      display: flex;
      width: fit-content;
      gap: 8px;
      align-items: center;

      img {
        border-radius: 10px;
        display: block;
        width: 36px;
        height: 36px;
      }

      span {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .user-info {
      display: flex;
      gap: 8px;
      align-items: center;

      mp-button {
        margin-left: 6px;
      }
    }
  }
}
