<div class="login-container">
  <div class="login-form">
    <h1 class="login-form-title">로그인</h1>
    <form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-label>아이디</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="email" placeholder="이메일을 입력하세요" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>비밀번호</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="password" type="password" placeholder="비밀번호를 입력하세요" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="onSubmit()">로그인</button>
        </nz-form-control>

        <nz-form-control>
          <button nz-button nzType="primary" (click)="onRegister()">회원가입</button>
        </nz-form-control>

        <nz-form-control>
          <button nz-button nzType="primary" (click)="onWithdraw()">회원정지</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
