legacy-peer-deps=true
unsafe-perm=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=BA363E6E-FB76-4D7B-88F0-717C1F509B65

@mapiacompany/styled-components:registry=https://git.mapiacompany.com/api/v4/packages/npm/
//git.mapiacompany.com/api/v4/projects/149/packages/npm/:_authToken=glpat-pfZA-SVNiX9yB37xeefJ

@mapiacompany:registry=https://git.mapiacompany.com/api/v4/packages/npm/
//git.mapiacompany.com/api/v4/packages/npm/:_authToken=n4rCKMdYzyB7WuDbFSJH

@mapiacompany/compounds:registry=https://git.mapiacompany.com/api/v4/packages/npm/
//git.mapiacompany.com/api/v4/projects/209/packages/npm/:_authToken=glpat-qSFefcXa7RVrrR1Lte5z

@mapiacompany/smp-graphql:registry=https://git.mapiacompany.com/api/v4/packages/npm/
//git.mapiacompany.com/api/v4/projects/211/packages/npm/:_authToken=glpat-N7HiPejBzTpTZa3jQJZ2
