<page-header height="64px">
  <mp-icon-button
    left iconName="close" size="m"
    variant="void" color="grayDark"
    (click)="close()"/>
  <mp-text center>농약 상세 정보</mp-text>
</page-header>
<div class="title">・ 기본정보</div>
<div class="basic-info">
  <div class="info-label" *ngFor="let info of basicInfoLabels">
    <span class="label">{{info.label}}: </span>
    <span class="value">{{pesticide[info.key]}}</span>
  </div>
</div>
<div class="title">・ 상세정보</div>
<div class="detail-info">
  <div class="info-label" *ngFor="let info of detailInfoLabels">
    <span class="label">{{info.label}}: </span>
    <span class="value">{{pesticide[info.key]}}</span>
  </div>
</div>
