<ng-container *ngIf="{
  occurenceInfo: occurenceInfo$ | async
} as d">
  <div class="occurrence-info">
    <div class="title">
      <span>병해충 발생정보</span>
      <a
        href="https://ncpms.rda.go.kr/mobile/NewIndcUserListR.ms"
        mpButton
        size="xs" variant="void" color="greenDark" label="전체 보기"
      >
        <mp-icon right name="chevron_right"></mp-icon>
      </a>
    </div>
    <mp-divider height="16px" direction="horizontal" size="1px"></mp-divider>
    <!-- 경보 -->
    <div class="selector-wrapper">
      <mp-button
        label="경보"
        color="redDark"
        size="s"
        variant="void"
        [class.active]="selectedOccurenceStep.value === 'warning'"
        [postfix]="{ text: d.occurenceInfo?.warningListSize || '0' }"
        [disabled]="d.occurenceInfo?.warningListSize === 0"
        (click)="selectedOccurenceStep.patchValue('warning')"
      ></mp-button>
      <mp-button
        label="주의보"
        color="yellowDark"
        size="s"
        variant="void"
        [class.active]="selectedOccurenceStep.value === 'watch'"
        [postfix]="{ text: d.occurenceInfo?.watchListSize || '0' }"
        [disabled]="d.occurenceInfo?.watchListSize === 0"
        (click)="selectedOccurenceStep.patchValue('watch')"
      ></mp-button>
      <mp-button
        label="예보"
        color="greenDark"
        size="s"
        variant="void"
        [class.active]="selectedOccurenceStep.value === 'forecast'"
        [postfix]="{ text: d.occurenceInfo?.forecastListSize || '0' }"
        [disabled]="d.occurenceInfo?.forecastListSize === 0"
        (click)="selectedOccurenceStep.patchValue('forecast')"
      ></mp-button>
    </div>
    <div class="disease-list">
      <ng-container *ngIf="d.occurenceInfo && selectedOccurenceStep.value">
        <ul>
          <li
            *ngFor="let disease of d.occurenceInfo[selectedOccurenceStep.value + 'List']"
            (click)="openDiseaseDetail(disease)"
          >
            ({{disease.cropName}}) {{disease.sickNameKor}}
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</ng-container>
<div class="main-container">
  <div class="section-wrapper">
    <div class="map-section">
      <span class="section-title">
        주변 병해 지도
        <mp-icon name="chevron_right" size="20px" color="grayLight"></mp-icon>
      </span>
      <ng-lottie [options]="options"></ng-lottie>
    </div>
    <a
      class="category-section"
      *ngLet="categories$ | async as categories"
      [routerLink]="['/my-page', 'category']"
    >
      <span class="section-title">
        내 작물 관리
        <mp-icon name="chevron_right" size="20px" color="grayLight"></mp-icon>
      </span>
      <ul class="categories">
        <li *ngFor="let category of categories">{{category.name | categoryName}}
          ({{category.cnt || 0}})
        </li>
      </ul>
    </a>
  </div>

  <a
    mpMenuCell
    label="병해 정보 검색하기" color="grayDarkest" gap="24px"
    [routerLink]="['/search']"
  >
    <mp-icon adornment name="search"></mp-icon>
  </a>

  <div class="section-wrapper">
    <div class="guide-section"></div>
    <div class="inquiry-section"></div>
  </div>
</div>
