<div class="occurrence-info">
</div>
<div class="main-container">
  <div class="section-wrapper">
<!--    <nz-card class="map-card">-->
<!--      <button nz-button nzType="primary" nzSize="small">주변 병해 정보 확인</button>-->
<!--      <ng-lottie [options]="options"></ng-lottie>-->
<!--    </nz-card>-->
<!--    <nz-card nzTitle="내 작물 관리" [nzExtra]="extraTemplate">-->
<!--      <p>Card content</p>-->
<!--      <p>Card content</p>-->
<!--      <p>Card content</p>-->
<!--    </nz-card>-->
<!--    <ng-template #extraTemplate>-->
<!--      <a>더 보기</a>-->
<!--    </ng-template>-->
  </div>

<!--  <Card>-->
<!--    <CardHeader-->
<!--      [title]="'내 작물 관리'"-->
<!--      [extra]="extra"-->
<!--    >-->
<!--      <ng-template #extra>-->
<!--        <span>전체 보기</span>-->
<!--      </ng-template>-->
<!--    </CardHeader>-->
<!--    <CardBody>-->
<!--      <div>This is content of Card</div>-->
<!--      <div>This is content of Card</div>-->
<!--      <div>This is content of Card</div>-->
<!--    </CardBody>-->
<!--    <CardFooter [content]="'footer content'" [extra]="footerExtra">-->
<!--      <ng-template #footerExtra>-->
<!--        <div>extra footer content</div>-->
<!--      </ng-template>-->
<!--    </CardFooter>-->
<!--  </Card>-->

  <div class="search-section">
    <!--  -->
  </div>

  <div class="section-wrapper">
    <div class="guide-section"></div>
    <div class="inquiry-section"></div>
  </div>
</div>
