:host {
  display: block;
  height: calc(var(--full-height) - var(--header-height));

  .main-container {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
  }

  .section-wrapper {
    display: flex;
    border: 1px solid #fcfcfc;
    gap: 12px;

    > div, nz-card, Card {
      flex: 1;
    }
  }

  .map-card {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    ::ng-deep .ant-card-body {
      padding: 12px 0 0;
      display: flex;
      flex-direction: column;

      > [nz-button] {
        margin: 0 auto -48px;
        border-radius: 6px;
        background: green;
      }
    }
  }
}
