@import "@mapiacompany/style-utils/utils";

:host {
  padding: 24px;

  .date-wrapper {
    @include typo(13px, var(--gray), 400);
    padding: 0 0 12px 4px;
    display: flex;
    justify-content: space-between;
  }

  mp-text {
    display: block;
    height: 300px;
    padding: 14px;
    border-radius: 8px;
    overflow-y: scroll;
    box-shadow: 0px 2px 4px 0px rgba(20, 20, 20, 0.02), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    @include typo(13px, var(--grayDark), 500);
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 24px 0;

    mp-button {
      flex: 1;
    }
  }
}
