/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "browser-reset";
@import "header";
@import "@mapiacompany/styled-components/scss/all";
@import "bootstrap";
@import "@mapiacompany/styled-components/scss/mp-color";

:root {
  --full-height: calc(var(--vh, 1vh) * 100 - #{$safe-area-inset-top} - #{$safe-area-inset-bottom});
  @include mpCssVars;
}

pwa-toast {
  z-index: 2050 !important;
}

pwa-action-sheet {
  z-index: 2000 !important;
}

a:-webkit-any-link {
  color: inherit;
}

:root {
  mp-button {
    $background-color: variableWithHook('button-background-color');

    &:active {
      button {
        background-color: $background-color !important;
      }
    }
  }
}

.global-container {
  $padding: 60px;
  max-width: #{1090px + ($padding * 2)};
  min-width: min(1200px, 100%);
  padding: 0 $padding !important;
  margin: 0 auto;
}
