$safe-area-inset-top: constant(safe-area-inset-top);
$safe-area-inset-top: env(safe-area-inset-top);
$safe-area-inset-bottom: constant(safe-area-inset-bottom);
$safe-area-inset-bottom: env(safe-area-inset-bottom);

$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
