<page-header height="64px">
  <mp-icon-button
    left iconName="arrow_back" size="m"
    variant="void" color="grayDark"
    (click)="modalRef.hide()"/>
  <mp-text center>{{tabName(tab)}}</mp-text>
  <mp-button
    right
    variant="void"
    color="gray"
    size="s"
    [label]="tabName(headerButton)"
    (click)="tab = headerButton"
  ></mp-button>
</page-header>
<div class="content" [ngSwitch]="tab">
  <app-login *ngSwitchCase="'login'" [onSuccess]="onSuccess"></app-login>
  <app-register
    *ngSwitchCase="'register'"
    (changeTab)="tab = $event"
  ></app-register>
</div>
