<ng-container *ngIf="{
  inquiry: inquiry$ | async,
  status: status$ | async,
  diagnosisRecord: diagnosisRecord$ | async,
  diagnosisRecordStatus: diagnosisStatus$ | async,
  reply: reply$ | async,
  replyStatus: replyStatus$ | async
} as d">
  <mp-icon-button
    left
    size="m"
    iconName="close"
    color="grayDark"
    variant="void"
    (click)="close()"
  ></mp-icon-button>
  <div class="inquiry-info">
    <!--  <div class="label">제목</div>-->
    <div class="title">
      {{d.inquiry?.title}}
      <span>{{d.inquiry?.regDate | date:'yyyy.MM.dd HH:mm' }}</span>
    </div>
    <!--  <div class="label">내용</div>-->
    <div class="content">
      {{d.inquiry?.contents}}
    </div>
  </div>

  <div class="record-label">
    진단 기록
    <mp-helper-text label="이미지 클릭시 확대하여 볼 수 있습니다.">
      <mp-icon type="outlined"></mp-icon>
    </mp-helper-text>
  </div>
  <div class="record-placeholder" *ngIf="d.diagnosisRecordStatus.pending">
    <mp-icon name="clock_loader_60" type="outlined" size="36px" color="grayLight"></mp-icon>
    <span>진단기록을 불러오는중입니다</span>
  </div>
  <div class="selected-record" *ngIf="d.diagnosisRecord">
    <img [src]="d.diagnosisRecord?.imagePath" [alt]="'작물 이미지'">
    <div class="info">
      <div class="line">
        <crop-type-badge [cropType]="d.diagnosisRecord?.cropType"/>
        <span>{{d.diagnosisRecord?.regDate | date:'yyyy.MM.dd HH:mm' }}</span>
      </div>
      <div class="line">
        병해: {{d.diagnosisRecord?.diagnosisResults[0]?.diseaseCode | diseaseName}}
        ({{(d.diagnosisRecord?.diagnosisResults[0].accuracy * 100).toFixed(2)}}%)
        <span
          *ngIf="d.diagnosisRecord?.diagnosisResults.length > 1">외 {{d.diagnosisRecord?.diagnosisResults.length - 1}}
          개</span>
      </div>
    </div>
  </div>

  <div class="reply-label">
    전문가 답변
    <span class="date" *ngIf="d.reply">{{d.reply?.regDate | date:'yyyy.MM.dd HH:mm' }}</span>
  </div>
  <div class="reply-container">
    <mp-textarea
      [formControl]="replyContent"
      autofocus="true"
      height="300px"
      padding="14px"
      [placeholder]="'답변을 작성해주세요'"
      backgroundColor="white"
      boxShadow="0px 2px 4px 0px rgba(20, 20, 20, 0.02), 0px 0px 0px 1px rgba(0, 0, 0, 0.08)"
    ></mp-textarea>
    <mp-button
      size="m"
      variant="fill"
      [loading]="d.replyStatus.pending"
      [disabled]="d.reply?.contents === replyContent.value || replyContent.invalid"
      [label]="d.inquiry?.replyId > -1 ? '답변 수정' : '답변 등록'"
      (click)="d.inquiry?.replyId > -1 ? updateReply(d.inquiry.replyId) : submitReply()"
    >
      <mp-icon right name="send"></mp-icon>
    </mp-button>
  </div>
</ng-container>
