<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="user-info">
    <div class="name">
      <span>{{currentUser.name}}</span> 님
    </div>
    <span class="email">
      <mp-icon name="email" type="outlined"></mp-icon>
      이메일: {{currentUser.email}}
    </span>
  </div>

  <div class="menu-wrapper" [style.margin-top]="'36px'">
    <ng-container *ngFor="let menu of pageMenus;let i=index;">
      <mp-divider *ngIf="i !== 0" height="12px" direction="horizontal" color="grayLighter"></mp-divider>
      <a
        class="menu-option"
        [routerLink]="menu.routerLink"
      >
        <mp-icon left [name]="menu.icon" size="24px" type="outlined" color="gray"></mp-icon>
        <span>{{menu.name}}</span>
        <mp-icon right name="chevron_right" size="24px" color="gray"></mp-icon>
      </a>
    </ng-container>
  </div>

  <mp-text class="menu-title" [style.margin-top]="'36px'">전문가 기능</mp-text>
  <div class="menu-wrapper" *ngIf="currentUser.authLevel === 2">
    <a
      class="menu-option"
      [routerLink]="['/expert']"
    >
      <mp-icon left [name]="'list_alt'" size="24px" type="outlined" color="gray"></mp-icon>
      <span>진단 문의 관리</span>
      <mp-icon right name="chevron_right" size="24px" color="gray"></mp-icon>
    </a>
  </div>

  <mp-text class="menu-title" [style.margin-top]="'36px'">계정</mp-text>
  <div class="menu-wrapper">
    <ng-container *ngFor="let menu of accountMenus;let i=index;">
      <mp-divider *ngIf="i !== 0" height="12px" direction="horizontal" color="grayLighter"></mp-divider>
      <div class="menu-option" (click)="accountAction(menu.action)">
        <mp-icon left [name]="menu.icon" size="24px" type="outlined" [color]="menu.color"></mp-icon>
        <span [style.color]="'var(--' + menu.color + ')'">{{menu.name}}</span>
        <mp-icon right name="chevron_right" size="24px" [color]="menu.color"></mp-icon>
      </div>
    </ng-container>
  </div>
</ng-container>
