@import "@mapiacompany/style-utils/utils";

:host {
  page-header {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  form {
    padding: 24px;
    display: flex;
    flex-direction: column;

    mp-input {
      margin-bottom: 16px;
    }

    mp-label {
      padding: 0 4px;
      margin: 0 0 6px;
    }
  }

  .buttons-wrapper {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 0 24px 24px;

    mp-button {
      flex: 1;
    }
  }
}
