<div class="tab-bar">
  <div class="tab-item"
       [class.active]="activeTab.value === 'home'"
       (click)="changeTab('home')"
  >
    <mp-icon
      name="home"
      type="outlined"
      size="30px"
    ></mp-icon>
    <!--    <span nz-icon nzType="home" [nzTheme]="activeTab.value === 'home' ? 'fill' : 'outline'"></span>-->
    <span>홈</span>
  </div>
  <div class="tab-item pop-up"
       [class.active]="activeTab.value === 'camera'"
       (click)="diagnose()"
  >
    <mp-icon
      name="photo_camera"
      size="36px"
      padding="12px"
      backgroundColor="grayLightest"
      color="greenDark"
      borderRadius="50px"
      (click)="diagnose();$event.stopPropagation();$event.preventDefault();"
    ></mp-icon>
    <span>작물 진단</span>
  </div>
  <div class="tab-item"
       [class.active]="activeTab.value === 'my-crops'"
       (click)="changeTab('my-crops')"
  >
    <mp-icon
      name="library_books"
      type="outlined"
      size="30px"
    ></mp-icon>
    <span>내 정보</span>
  </div>
</div>
