@import "@mapiacompany/style-utils";

@include set-bs-modal-style(diagnosis-result-modal, 100vw, var(--full-height), 0) {
  display: block;
  border-radius: 0;
  width: 100vw;
  height: var(--full-height);
  margin: 0;
}

:host {
  page-header {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .crop-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: var(--image-container-bg-color, #fcfcfc);

    img {
      width: 100%;
      height: 100%;
      max-width: 280px;
      aspect-ratio: 1 / 1;
      box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.08), 0px 0px 0px 1px rgba(20, 20, 20, 0.06);
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 36px;


    .crop-info {
      display: flex;
      align-items: center;
      gap: 12px;
      @include typo(13px, var(--grayDark));
    }

    .disease-list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .disease-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
          @include typo(15px, var(--grayDark), 600);
          margin-left: 4px;
        }
      }
    }
  }
}
