@import "@mapiacompany/style-utils/utils";

:host {
  page-header {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .category-list {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
  }

  .button-wrapper {
    padding: 24px;

    mp-button {
      width: 100%;
    }
  }
}
