<page-header height="58px" [title]="category.name | categoryName">
  <mp-icon left name="arrow_back" (click)="close()"></mp-icon>
</page-header>
<div class="record-container">
  <ng-container *ngIf="records$ | async as records">
    <a
      class="record-item"
      *ngFor="let record of records"
      [routerLink]="['diagnosis', record.id]"
    >
      <img [src]="record.imagePath">
      <crop-type-badge [cropType]="record.cropType"></crop-type-badge>
      <span>진단일: {{record.regDate | date: 'yyyy.MM.dd HH:mm'}}</span>
    </a>
    <ng-container *ngIf="records.length === 0">
      <div class="empty">
        <mp-icon name="cloud_off" color="grayLight" size="44px"></mp-icon>
        <span>'{{category.name | categoryName}}'에 추가된 진단 기록이 없습니다</span>
      </div>
    </ng-container>
  </ng-container>
</div>
