@import "@mapiacompany/style-utils/utils";

@include set-bs-modal-style(pesticide-list-modal, 100vw, var(--full-height), 0) {
  display: block;
  border-radius: 0;
  width: 100vw;
  height: var(--full-height);
  margin: 0;
}

:host {
  page-header {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .content-section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .related-disease {
      @include typo(16px, var(--gray), 500);
    }
  }
}
