@import "@mapiacompany/style-utils/utils";

@include set-bs-modal-style(pesticide-list-modal, 100vw, var(--full-height), 0) {
  display: block;
  border-radius: 0;
  width: 100vw;
  height: var(--full-height);
  margin: 0;
}

:host {
  page-header {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .content-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    .related-disease {
      @include typo(16px, var(--gray), 500);
      padding: 0 0 0 8px;
    }

    mp-table {
      display: block;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.02), 0 0 0 1px rgba(0, 0, 0, 0.08);

      mp-row[head] {
        @include typo(15px, var(--grayDark), 500);
        background-color: #f5f5f5;
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.04), inset 0 1px 0 0 rgba(0, 0, 0, 0.04);
      }

      mp-row:not(.head) {
        //border-radius: 10px;
        //box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.02), 0 0 0 1px rgba(0, 0, 0, 0.08);
        //background-color: var(--hoverWeak);

        mp-col {
          @include typo(13px, var(--grayDark), 400);
          @include set-line-clamp(1);
        }
      }

      mp-row:not(.head) + mp-row:not(.head) {
        border-top: 1px solid var(--grayLightest);
      }
    }
  }
}
