<page-header height="64px" [title]="'병해 도감'">
  <mp-icon left name="arrow_back" (click)="close()"></mp-icon>
</page-header>
<form class="input-section"
      [formGroup]="formGroup"
      (search)="loader$.next(1)"
>
  <mp-input
    [label]="'작물명'"
    size="l"
    type="search"
    [placeholder]="'검색어를 입력해주세요.'"
    formControlName="cropName"
    backgroundColor="white"
    boxShadow="0 2px 4px 0 rgba(20, 20, 20, 0.02), 0 0 0 1px rgba(0, 0, 0, 0.08)"
  >
  </mp-input>
  <mp-input
    [label]="'병해명'"
    size="l"
    type="search"
    [placeholder]="'검색어를 입력해주세요.'"
    formControlName="keyword"
    backgroundColor="white"
    boxShadow="0 2px 4px 0 rgba(20, 20, 20, 0.02), 0 0 0 1px rgba(0, 0, 0, 0.08)"
  >
  </mp-input>
</form>
<div class="content-section" *ngIf="{
  result: searchResult$ | async,
  status: searchStatus$ | async
} as d">
    <mp-label [textContent]="'검색 결과 (' + searchResult.totalCnt + ')'" color="grayDark"/>
    <mp-table
      colGap="4px"
      rowGap="12px"
      rowPadding="8px"
      bodyPadding="12px"
      [listNum]="10"
      [bodyColor]="'white'"
      [status]="searchStatus$ | async"
    >
      <mp-row head>
        <mp-col width="100px" align="center">이미지</mp-col>
        <mp-col [flex]="1" align="center">작물명</mp-col>
        <mp-col [flex]="2" align="center">병해명 (영어)</mp-col>
      </mp-row>
      <mp-row
        *ngFor="let disease of searchResult.sickList; trackBy: trackByFn"
        (click)="openDiseaseDetailModal(disease)"
      >
        <mp-col><img [src]="disease.thumbImg" [alt]="disease.sickNameKor"></mp-col>
        <mp-col align="center">{{disease.cropName}}</mp-col>
        <mp-col align="center">{{disease.sickNameKor}} ({{disease.sickNameEng}})</mp-col>
      </mp-row>

      <mp-blank
        *ngIf="searchResult.totalCnt === 0"
        title="검색 결과가 없습니다."
        minHeight="400px"
      ></mp-blank>
    </mp-table>
    <mp-pagination bottom
                   [result]="{ total: searchResult.totalCnt, listNum: listNum, current: loader$.value }"
                   (changePage)="loader$.next($event)"
    ></mp-pagination>
</div>
